html {
    font-size: 14px;
}
body {
    color: #333;    
}
html, body {
  height: 100%;
}
h1 {
    font-size: 2.0rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    background-color: white;
}
.markdown-body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px 45px;
}
.main {
    height: calc(100% - 50px);
    margin-left: 250px;
}
// Layout / Basic / Width
$leftbar: 250px;
$border-color: #ddd;