// Layout / Basic / Width
$leftbar: 250px;
$rightbar: 250px;
$border-color: #ddd;
$status-bar-bg-color: #2196f3;
$status-bar-font-color: #fff;

html {
    font-size: 14px;
}
body {
    color: #333;    
}
html, body {
  height: 100%;
}
h1 {
    font-size: 2.0rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    background-color: white;
}
::-webkit-input-placeholder {
    color: #555;
}
::-moz-placeholder {
    color: #555;
}
.markdown-body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
}
.main {
    height: calc(100% - 80px);
    margin-left: $leftbar;
}
.status-bg {
    left: 0;
    right: 0;
    z-index: -1;
}
.status-bar {
    position: fixed;
    bottom: 0;
    background-color: $status-bar-bg-color;
    color: $status-bar-font-color;
    height: 30px;
    p {
        margin: 0;
        line-height: 2.2;
        float: left;
        font-size: 1rem;
    }
    button {
        float: right;        
        padding: 5px 15px;        
        margin: 0;   
        border: 0 none;
        border-radius: 0;    
        span {
            top: 2px;
            left: 4px;
        } 
    }
}