.context-menu {
    width: $leftbar;
    float: left;
    height: calc(100% - 80px);
    overflow-y: auto;
    border: {
        right: 1px solid $border-color;
        bottom: 1px solid $border-color;
    }
    ;
    font-size: 0.8rem;
    .list-group {
        margin-bottom: 0;
        overflow: hidden;
        border: {
            top: 1px solid $border-color;
        }
        &:last-child {
            border: {
                bottom: 1px solid $border-color;
                ;
            }
        }
        span:before {
            padding: 0 5px;
        }
        a,
        .list-group-item {
            border: 0 none !important;
        }
        img {
            border-radius: 50%;
            transition: 0.3s linear all;
            &:hover {
                transition: 0.3s linear all;
                transform: rotate(360deg);
            }
        }
    }
    .badge {
        position: absolute;
        right: 15px;
        top: 7.2px;
    }
    .list-group-item {
        padding: 8px 15px;
    }
    .inner {
        margin-left: 15px !important;
    }
    .feed-item {
        position: relative;
        margin: auto 0;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
            margin-left: 22px;
            white-space: pre;
        }
    }
    h2 {
        margin: 8px;
        text-align: center;
    }
    .favicon {
        width: 17px;
        height: 17px;
        position: absolute;
    }
    .status-bar {
        left: 0;
        width: 250px;
        .time {
            width: 250px;
            text-align: center;
            border-right: 1px solid $border-color;
        }
    }
}

.user-avatar {
    text-align: center;
    overflow: hidden;
    display: block;
    padding: 15px;
    color: #333;
    &:hover,
    &:link {
        color: #333;
    }
    img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        transition: 0.3s linear all;
        &:hover {
            transition: 0.3s linear all;
            transform: rotate(360deg);
        }
    }
    span {
        display: block;
        padding: 8px;
    }
}
