html {
    font-size: 14px;
}
body {
    color: #333;    
}
h1 {
    font-size: 2.0rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
.page-header {
    img {
        width: 40px;
        float: left;
        padding-right: 10px;
    }
    a {
        float: right;
        font-size: 1.2rem;
        margin-top: 12px;
    }
}
.auth {
    padding: 30px 20px;
    text-align: center;
    label {
        text-align: center !important;
    }
    button {
        width: 100px;
    }
}