<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">订阅源信息</h3>
        <!-- Only show in the search page -->
        <button class="btn btn-primary" ng-if="feed.feeded === true" ng-click="vm.feedit()">已订阅</button>
        <button class="btn btn-primary" ng-if="feed.feeded === false" ng-click="vm.feedit()">未订阅</button>
    </div>
    <div class="panel-body">
        <div class="row">
            <p class="col-xs-5 col-sm-4 col-md-3">订阅源标题</p>
            <p class="col-xs-7 col-sm-8 col-md-9">{{feed.title}}</p>
        </div>
        <div class="row" ng-if="feed.author">
            <p class="col-xs-5 col-sm-4 col-md-3">作者</p>
            <p class="col-xs-7 col-sm-8 col-md-9">{{feed.author}}</p>
        </div>
        <div class="row" ng-if="feed.pubdate">
            <p class="col-xs-5 col-sm-4 col-md-3">最近更新时间</p>
            <p class="col-xs-7 col-sm-8 col-md-9">{{feed.pubdate | toLocalString: 'yyyy-MM-dd'}}</p>
        </div>
        <div class="row">
            <p class="col-xs-5 col-sm-4 col-md-3">订阅人数</p>
            <p class="col-xs-7 col-sm-8 col-md-9">{{feed.feedNum}}</p>
        </div>
        <div class="row">
            <p class="col-xs-5 col-sm-4 col-md-3">订阅源网站</p>
            <p class="col-xs-7 col-sm-8 col-md-9">{{feed.link}}</p>
        </div>
        <div class="row">
            <p class="col-xs-5 col-sm-4 col-md-3">XML 地址</p>
            <p class="col-xs-7 col-sm-8 col-md-9">{{feed.absurl}}</p>
        </div>
    </div>
</div>