.rssnav {
    font-size: 1rem;
    border-radius: 0;
    border: 0;
    color: #fff;
    margin-bottom: 0;
    .navbar-brand {
        width: $leftbar;
        border-right: 1px solid $border-color;
    }
    ul {
        float: right;
    }
    .search {
        float: left;
        margin: 12px 15px;
        position: relative;
        input {
            width: 150px;
            height: 26px;
            padding: 3px 10px;
            font-size: 0.9rem;
            border: 0;
            box-shadow: none;
            transition: 0.3s linear all;
            &:focus {
                box-shadow: none;
            }
        }
        .input-active {
            width: 250px;
            transition: 0.3s linear all;
        }
        .input-err {
            border:1px solid red;
        }
    }
    .search-wrap {
        width: 34px !important;
        right: 0 !important;
        z-index: 5 !important;
        background-color: transparent !important;
    }
    .search-btn, .search-wrap {
        display: table;
        z-index: 1;
        position: absolute;
        right: -30px;
        color: #333;
        background-color: white;
        height: 26px;
        padding: 0 10px;
        border: 0;
        border-left: 1px solid #eee;
        border-radius: 0;
        span {
            vertical-align: middle;
            display: table-cell;  
        }
        &:active {
            border-left: 1px solid #eee;
        }
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}