<div class="post-panel">
    <div class="sidebar list-group">
        <a class="post-select list-group-item" ng-repeat="post in vm.posts | orderBy: 'pubdate' : true"
            ng-class="{true: 'active', false: ''}[post.active]"
            ng-click="vm.goto(post._id)">
            <h2>{{::post.title}}</h2>
            <img ng-if="post.read === true && vm.type === '未读'" class="read" src="img/ic_done_black_24dp_1x.png">
            <span>{{::post.pubdate | toLocalString}}</span>
        </a>
        <!-- 底部 Posts 管理栏 -->
        <div class="status-bar">
            <button class="posts btn btn-primary" ng-click="vm.readall()" ng-if="vm.type === '未读'">
                <span class="glyphicon glyphicon-ok"></span>
                全部标记为已读 <span>( {{vm.unread}} )</span>
            </button>
        </div>
    </div>
    <div ui-view class="center" scroll-listen="post.read">
        <div>
            <div class="page-header">
                <h1>{{vm.type}}文章 <strong>{{vm.unread}}</strong> 篇</h1>
            </div>
            <div class="bs-callout bs-callout-info" ng-repeat="feed in vm.postsByFeed">
                <h4>{{feed[0].feed_title}}<small>{{feed.length}}</small></h4>
                <ul>
                    <li ng-repeat="post in feed | orderBy:'date':true track by post._id">
                        <a ng-click="vm.goto(post._id)" ng-class="{true: 'visit', false: ''}[post.read && vm.type==='未读']">{{post.title}}</a><small>{{post.date | timeago}}</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>