.context-menu {
    width: $leftbar;
    float: left;
    height: calc(100% - 80px);
    border: {
        right: 1px solid $border-color;
        bottom: 1px solid $border-color;
    };
    font-size: 0.8rem;
    .list-group {
        margin-bottom: 0;
        overflow: hidden;
        border: {
            top: 1px solid $border-color;
        }
        &:last-child {
            border: {
                bottom: 1px solid $border-color;;
            }
        }
        span:before {
            padding: 0 5px;
        }
        a {
            border: 0 none !important;
        }
    }
    .list-group-item {
        padding: 8px 15px;
        display: flex;
        span {
            margin: auto 5px;
        }
    }
    h2 {
        margin: 8px;
        text-align: center;
    }
    .favicon {
        width: 20px;
        height: 20px;
    }
}
.user-avatar {
    text-align: center;
    padding: 15px;
    img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    span {
        display: block;
        padding: 8px;
    }
}