<div class="context-menu">
    <div class="user-avatar">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT3UXAsRhkm48myLgFQxVZli_HLmzJ-vTrCpoo-izKNi9GzLPeQBpbSj7Q">
        <span>哈哈哈哈哈</span>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-globe"></span> 仪表盘 </a>
        <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-list"></span> 全部文章 </a>
        <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-star"></span> 星标文章 </a>
        <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-tower"></span> 朋友圈 </a>
    </div>
    <div class="list-group">
        <h2>订阅源</h2>
    </div>
    <!-- feed_id is FeedModel's _id, not UserFeedModel's _id 
         UserFeedModel's _id is not used -->
    <div class="list-group">
        <a class="list-group-item feed-item" ui-sref="feed({id: vm.feed.feed_id})"
            ng-click="vm.setTitle()"
            ng-repeat="feed in vm.feeds track by feed.feed_id">
            <!-- TODO: still has the failure get info -->
            <img class="favicon" ng-src="{{feed.favicon}}" onerror="this.src='/img/rss.png';">
            <span class="title">{{feed.title}}</span>
        </a>
    </div>
    <!-- 底部时间栏 -->
    <div class="status-bar">
        <p class="time">
            <span class="glyphicon glyphicon-calendar"></span>
            {{ vm.time | date: 'EEEE yyyy-MM-dd HH:mm:ss a' }}
        </p>
    </div>
</div>