@media screen and (max-width: 1024px) {
    .time-bar {
        display: none;
    }
    .posts-bar,
    .feed-bar, 
    .post-bar {
        left: 0 !important;
    }
    .rssnav .navbar-header {
        width: 75px;
    }
    .sidebar {
        width: 220px ;
    }
    .side-bar {
        width: 220px ;
        button {
           width: 220px ;
        }
    }
    .post-bar {
        right: 220px ;
    }
    .feed-bar {
        right: 0 !important;
    }
    .context-menu.ng-hide {
        width: 0;
        transition: 0.3s linear all;
        .user-avatar img {
            width: 0;
            height: 0;
            transition: 0.3s linear all;
        }
        .list-group {
            transition: 0.2s linear all;
            opacity: 0;
        }
        .badge {
            opacity: 0;
            transition: 0.2s linear all;
        }
    }
    .context-menu.ng-hide-remove.ng-hide-remove-active {
        width: 250px;
        transition: 0.3s linear all;
    }
}
@media screen and (max-width: 768px) {
    .markdown-body {
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar.ng-hide {
        width: 0 !important;
        transition: 0.3s linear all;
    }
    .sidebar.ng-hide-remove.ng-hide-remove-active {
        width: 100% !important;
        transition: 0.3s linear all;
    }
    .post-panel .sidebar {
        width: 100%;
    }
    .side-bar button {
        display: none;
    }
    .input-active {
        width: 150px !important;
    }
    .context-menu.ng-hide-remove.ng-hide-remove-active {
        width: 200px;
        transition: 0.3s linear all;
    }
    .context-menu {
        width: 200px;
        transition: 0.3s linear all;
    }
    .post-bar {
        right: 0 !important;
    }
    .center.ng-hide {
        opacity: 0;
        transition: 0.3s linear all;
    }
}
