<nav class="rssnav navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span ng-show="width <= 1024" resize class="glyphicon glyphicon-align-justify" ng-click="vm.expand()" ></span>
            <a class="navbar-brand">EnjoyRSS</a>
        </div>
        <form name="form" class="search">
            <div class="search-btn btn btn-default" ng-click="vm.search(feedlink)" ng-mouseover="vm.focus()">
                <input class="search-wrap" type="submit" value=''></input>
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <input type="url" id="search" class="form-control" name="input" placeholder="输入 URL 添加订阅源" autocomplete="off"
                ng-class="{true: 'input-active', false: ''}[vm.active]" ng-model="feedlink"
                ng-focus="vm.focus()"  ng-blur="vm.blur()" ng-keypress="$event.which === 13 ? vm.search(feedlink) : ''">
        </form>
        <div resize ng-show="width >= 640">
            <ul class="feed-nav">
                <li><a ui-sref="home">仪表盘</a></li>
                <li><a ui-sref="posts({type: 'unread'})">未读文章</a></li>
                <li><a ui-sref="posts({type: 'mark'})">星标文章</a></li>
                <li class="seperator"> </li>
                <li><a href="javascript:void 0" ng-click="vm.logout()">退出登录</a>
            </ul>
        </div>
    </div>
</nav>
