.rssnav {
    font-size: 1rem;
    height: 50px;
    overflow: hidden;
    border-radius: 0;
    border: 0;
    color: #fff;
    margin-bottom: 0;
    .navbar-header {
        margin: 0 !important;
        width: $leftbar - 15px;
        border-right: 1px solid $border-color;
        float: left;
        span {
            color: #333;
            float: left;
            height: 50px;
            padding: 15px 0;
            margin-right: 10px;
            font-size: 18px;
            line-height: 20px;
            border: 0;
            background-color: transparent;
        }
        a {
            margin-left: -15px !important;
        }
    }
    ul {
        float: right;
    }
    .seperator {
        height: 50px;
        border-left: 1px solid #ddd;
    }
    .search {
        float: left;
        margin: 12px 15px;
        position: relative;
        input {
            width: 150px;
            height: 26px;
            padding: 3px 10px;
            font-size: 0.9rem;
            border: 0;
            box-shadow: none;
            transition: 0.3s linear all;
            &:focus {
                box-shadow: none;
            }
        }
        .input-active {
            width: 250px;
            transition: 0.3s linear all;
        }
        .input-err {
            border: 1px solid red;
        }
    }
    .search-wrap {
        width: 34px !important;
        right: 0 !important;
        z-index: 5 !important;
        background-color: transparent !important;
    }
    .search-btn,
    .search-wrap {
        display: table;
        z-index: 1;
        position: absolute;
        right: -30px;
        color: #333;
        background-color: white;
        height: 26px;
        padding: 0 10px;
        border: 0;
        border-left: 1px solid #eee;
        border-radius: 0;
        span {
            vertical-align: middle;
            display: table-cell;
        }
        &:active {
            border-left: 1px solid #eee;
        }
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .feed-nav {
        padding-left: 0;
        list-style: none;
        margin: 0;
        li {
            float: left;
            display: block;
            position: relative;
            a {
                color: #777;
                line-height: 20px;
                padding: 15px;
                display: block;
                position: relative;
                &:hover {
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }
}