html {
    height: 100%;
}

body {
    height: calc(100% - 83px);
    color: #333;
    font-size: 14px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.favicon {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 15px;
}

a {
    color: #333;
    &:hover,
    &:link {
        color: #333;
        text-decoration: none;
    }
}

.center {
    margin-top: 40px !important;
    margin-bottom: 43px !important;
    overflow: hidden;
}

.expand {
    transition: 0.3s linear all !important;
    margin-left: 200px !important;
    margin-right: -200px !important;
}

.expand2 {
    transition: 0.3s linear all !important;
    left: 200px !important;
    right: -200px !important;
}

.bottom {
    transition: 0.3s linear all;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: #616161;
    font-family: 'icomoon' !important;
    background-color: white;
    border-top: 1px solid #eee;
    z-index: 10000;
    ul {
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 0;
    }
    a,
    li {
        box-sizing: border-box;
        text-align: center;
        color: #616161;
        font-family: 'icomoon' !important;
        width: 25%;
        float: left;
        border: 0 none;
        border-right: 1px solid #eee;
        padding: 5px 15px;
        &:last-child {
            border-right: none;
        }
        &:hover {
            background-color: white;
            text-decoration: none;
        }
        small {
            display: block;
            font-size: 12px !important;
            width: 100%;
            line-height: 1 !important;
        }
    }
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
    &>header h1 {
        margin-bottom: 0;
    }
    &>header+section {
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        overflow: hidden;
        span {
            padding-right: 5px;
        }
        small:first-child {
            float: left;
        }
        small:last-child {
            float: right;
            letter-spacing: 0.5px;
        }
    }
    figure,
    .highlight {
        overflow: auto;
        margin: 20px 0;
        padding: 15px;
        font-size: 13px;
        color: #4d4d4c;
        background: #f7f7f7;
        line-height: 1.6;
        table {
            margin-bottom: 0;
        }
        tr {
            border: 0 none;
            background-color: #f9f9f9;
        }
        .gutter pre {
            padding: 0 20px 0 0;
            color: #666;
            text-align: right;
            border: 0;
        }
        .code pre {
            padding: 0 20px 0 0;
            color: #666;
            border: 0;
        }
        .gutter,
        .code {
            padding: 0;
            border: 0;
        }
    }
    article {
        padding: 20px 0;
    }
    img {
        max-width: 100%;
    }
    pre {
        font-size: 80%;
    }
    pre .comment {
        color: #8e908c;
    }
    pre .variable,
    pre .attribute,
    pre .tag,
    pre .regexp,
    pre .ruby .constant,
    pre .xml .tag .title,
    pre .xml .pi,
    pre .xml .doctype,
    pre .html .doctype,
    pre .css .id,
    pre .css .class,
    pre .css .pseudo {
        color: #c82829;
    }
    pre .number,
    pre .preprocessor,
    pre .built_in,
    pre .literal,
    pre .params,
    pre .constant,
    pre .command {
        color: #f5871f;
    }
    pre .ruby .class .title,
    pre .css .rules .attribute,
    pre .string,
    pre .value,
    pre .inheritance,
    pre .header,
    pre .ruby .symbol,
    pre .xml .cdata,
    pre .special,
    pre .number,
    pre .formula {
        color: #718c00;
    }
    pre .title,
    pre .css .hexcolor {
        color: #3e999f;
    }
    pre .function,
    pre .python .decorator,
    pre .python .title,
    pre .ruby .function .title,
    pre .ruby .title .keyword,
    pre .perl .sub,
    pre .javascript .title,
    pre .coffeescript .title {
        color: #4271ae;
    }
    pre .keyword,
    pre .javascript .function {
        color: #8959a8;
    }
}

.cssload-loader {
    display: block;
    position: absolute;
    height: 4em;
    width: 4em;
    left: 50%;
    margin-top: -2em;
    margin-left: -2em;
    background-color: rgb(51, 136, 153);
    border-radius: 2.5em 2.5em 2.5em 2.5em;
    -o-border-radius: 2.5em 2.5em 2.5em 2.5em;
    -ms-border-radius: 2.5em 2.5em 2.5em 2.5em;
    -webkit-border-radius: 2.5em 2.5em 2.5em 2.5em;
    -moz-border-radius: 2.5em 2.5em 2.5em 2.5em;
    box-shadow: inset 0 0 0 0.5em rgb(236, 234, 224);
    -o-box-shadow: inset 0 0 0 0.5em rgb(236, 234, 224);
    -ms-box-shadow: inset 0 0 0 0.5em rgb(236, 234, 224);
    -webkit-box-shadow: inset 0 0 0 0.5em rgb(236, 234, 224);
    -moz-box-shadow: inset 0 0 0 0.5em rgb(236, 234, 224);
    background: linear-gradient(-45deg, rgb(0, 153, 0), rgb(0, 153, 0) 50%, rgb(204, 204, 0) 50%, rgb(204, 204, 0));
    background: -o-linear-gradient(-45deg, rgb(0, 153, 0), rgb(0, 153, 0) 50%, rgb(204, 204, 0) 50%, rgb(204, 204, 0));
    background: -ms-linear-gradient(-45deg, rgb(0, 153, 0), rgb(0, 153, 0) 50%, rgb(204, 204, 0) 50%, rgb(204, 204, 0));
    background: -webkit-linear-gradient(-45deg, rgb(0, 153, 0), rgb(0, 153, 0) 50%, rgb(204, 204, 0) 50%, rgb(204, 204, 0));
    background: -moz-linear-gradient(-45deg, rgb(0, 153, 0), rgb(0, 153, 0) 50%, rgb(204, 204, 0) 50%, rgb(204, 204, 0));
    background-blend-mode: multiply;
    border-top: 5px solid rgb(0, 153, 0);
    border-left: 5px solid rgb(0, 153, 0);
    border-bottom: 5px solid rgb(204, 204, 0);
    border-right: 5px solid rgb(204, 204, 0);
    animation: cssload-roto 1.15s infinite linear;
    -o-animation: cssload-roto 1.15s infinite linear;
    -ms-animation: cssload-roto 1.15s infinite linear;
    -webkit-animation: cssload-roto 1.15s infinite linear;
    -moz-animation: cssload-roto 1.15s infinite linear;
}

@keyframes cssload-roto {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@-o-keyframes cssload-roto {
    0% {
        -o-transform: rotateZ(0deg);
    }
    100% {
        -o-transform: rotateZ(360deg);
    }
}

@-ms-keyframes cssload-roto {
    0% {
        -ms-transform: rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-roto {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}

@-moz-keyframes cssload-roto {
    0% {
        -moz-transform: rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateZ(360deg);
    }
}