.summary {
    overflow-y: auto;
    height: 100%;
    padding: 0 15px;
    .feed-title {
        font-size: 1.2rem;
        font-weight: bolder;
        position: relative;
        color: #009688;
        small {
            position: absolute;
            right: 0;
            padding: 5px 0;
        }
    }
    .post {
        overflow: hidden;
        position: relative;
        margin: 15px 0;
        a {
            font-size: 1.3rem;
            margin-top: 0;
            color: #333;
        }
        img {
            width: 130px;
            height: 130px;
            float: left;
            padding: 10px;
        }
        .post-content {
            max-height: 130px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 160px;
            article {
                color: #616161;
            }
        }
    }
}