<div class="summary">
    <div class="page-header">
        <h1>最新的未读文章</h1>
    </div>
    <p ng-if="!vm.posts.length">还没有未读内容～</p>
    <article ng-repeat="post in vm.posts">
        <header class="feed-title">
            <h2>{{post.feed_title}}<small>{{post.unread}}</small></h2>
        </header>
        <section class="post">
            <img ng-src="{{post.description}}">
            <section class="post-content">
                <header class="post-title">
                    <a href="javascript: void 0" ng-click="vm.goto(post)">{{post.title}}</a>
                </header>
                <article class="post-summary">
                    {{post.summary}}
                </article>
            </section>
    </article>
</div>