.post-panel {
    margin-left: 260px;
    overflow-y: scroll;
    height: 100%;
    .center {
        margin-right: 260px;
        overflow: auto;
        height: 100%;
    }
    .sidebar {
        height: 100%;
        overflow-y: auto;
        float: right;
        width: 250px;
        border-left: 1px solid $border-color;
    }
}
.post-select {
    border: {
        bottom: 1px solid $border-color;
    }
    padding: 10px;
    h2 {
        margin: 0 0 10px 0;
        font-size: 1.1rem;
    }
    span {
        color: #666;
    }
}
.page-header {
    margin-top: 20px;
}
.graphy {
    display: table;
    border: 1px solid #ddd;
    height: 300px;
    text-align: center;
    p {
        display: table-cell;
        vertical-align: middle;
    }
}