<div class="post-panel">
    <div class="sidebar list-group">
        <a class="post-select list-group-item" ng-repeat="post in vm.posts | orderBy: 'pubdate' : true"
            ng-click="post.read = true"
            ui-sref="feed.post({id: post.feed_id, post_id: post._id})">
            <h2>{{post.title}}</h2>
            <!-- TODO: 图标有点丑.. -->
            <img ng-if="post.read||vm.detail[post._id][0].read" class="read" src="img/ic_done_black_24dp_1x.png">
            <span>{{post.pubdate | toLocalString}}</span>
        </a>
    </div>
    <div ui-view class="center" scroll-listen="post.read">
        <div class="page-header">
            <h1>{{vm.feed.title}}</h1>
        </div>
        <feed-panel feed=vm.feed></feed-panel>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 graphy">
                    <p>更新频率图,最近一段时间的每天更新文章数，柱状图表示</p>
                </div>
                <div class="col-md-6 graphy">
                    <p>用户阅读图，最近一段时间的阅读情况和阅读时间图标</p>
                </div>
            </div>
        </div>
    </div>
</div>