.post-panel {
    margin-left: 260px;
    overflow-y: scroll;
    height: 100%;
    .center {
        margin-right: 260px;
        overflow: auto;
        height: 100%;
    }
    .sidebar {
        height: 100%;
        overflow-y: auto;
        float: right;
        width: 250px;
        border-left: 1px solid $border-color;
    }
}
.post-select {
    border: {
        bottom: 1px solid $border-color;
    }
    padding: 10px;
    h2 {
        margin: 0 0 10px 0;
        font-size: 1.2rem;
    }
}