.post-panel {
    overflow-y: scroll;
    height: 100%;
    overflow: hidden;
    .center {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        padding: 15px;
        border-right: 1px solid #ddd;
    }
    .sidebar {
        height: 100%;
        overflow-y: auto;
        float: right;
        width: 250px;
        a {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-bottom: 0;
            overflow: hidden;
            border: {
                top: 1px solid $border-color;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &:first-child {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
            &:last-child {
                border: {
                    bottom: 1px solid $border-color;
                }
            }
        }
    }
}
.read {
    position: absolute;
    right: 10px;
    bottom: 10px; 
}
.post-select {
    padding: 10px;
    position: relative;
    h2 {
        margin: 0 0 10px 0;
        font-size: 1.1rem;
    }
    span {
        color: #666;
    }
}
.page-header {
    margin-top: 20px;
}
.graphy {
    display: table;
    border: 1px solid #ddd;
    height: 300px;
    text-align: center;
    p {
        display: table-cell;
        vertical-align: middle;
    }
}